@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");

$heading-font: "Lobster", arial;
$regular-font: "Roboto", arial;
$color-primary: #f1e9fb;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: $color-primary;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
