@font-face {
  font-family: "Poppins";
  src: url("../src/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../src/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../src/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../src/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../src/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../src/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("../src/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../src/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../src/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "BiteChocolate";
  src: url("../src/fonts/BiteChocolate.woff") format("woff"),
    url("../src/fonts/BiteChocolate.ttf") format("truetype");
}
@font-face {
  font-family: "ShartollLight";
  src: url("../src/fonts/ShartollLight.woff") format("woff"),
    url("../src/fonts/ShartollLight.otf") format("opentype");
}

$headingFont: "BiteChocolate", arial;
$regularFont: "Roboto", arial;
$descriptionEstralightFont: "Poppins", arial;
$mainOrangeLight: #f3a156;
$orangeDark: #e27f0d;
$gray: #555555;
$grayLight: #bbb8b8;
$white: #ffffff;
$black: #000000;
$boxShadowColor: rgba(0, 0, 0, 0.15);
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-height: 100vh;
  box-sizing: border-box;
  background: #f2994a;
  background: -webkit-linear-gradient(to right, #f2c94c, #f2994a);
  background: linear-gradient(to right, #f2c94c, #f2994a);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: 1s ease-in-out;

  body {
    max-width: 1000px;
    margin: 80px auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    @keyframes upAndDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(5px);
      }
      100% {
        transform: translateY(0);
      }
    }

    .noresultAlert,
    .bookmarkAlert {
      display: none;
      justify-content: center;
      align-items: center;
      height: 0;
      width: 90%;
      margin: 80px auto;
      padding: 12px 0;
      border-radius: 5px;
      color: $white;
      font-family: $regularFont;
      font-size: 20px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(10px);

      transition: 0.5s ease-in-out;
    }
    .notificationActive {
      height: auto;
      display: flex;
      flex-shrink: 1;
    }
  }
}
