.controlsContainer {
  .searchButton {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: flex-end;
    width: 45px;
    height: 45px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 50%;
    border: 2px solid $purpleLight;
    background: $white;
    cursor: pointer;
    box-shadow: 0px 4px 24px -1px $boxShadowColor;
    backdrop-filter: blur(40px);
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.04);
    }
    img {
      height: 100%;
      transition: 0.3s ease-in-out;
      &:hover {
        transform: scale(0.9);
      }
    }
  }

  .controlButton {
    align-self: flex-end;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 50px;
    border-color: $purpleLight;
    background: $white;
    box-shadow: 0px 4px 24px -1px $boxShadowColor;
    backdrop-filter: blur(40px);
    font-size: 16px;
    color: $purpleLight;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    img {
      margin-right: 7px;
    }
    &:hover {
      transform: scale(1.04);
    }
  }

  .addRecipeButton {
    img {
      height: 14px;
      margin-right: 5px;
    }
  }
  .bookmarksButton {
    img {
      transform: translate(0, 3px);
    }
  }
}
