.controlsContainer {
  display: none;
  width: 100%;
  margin: 40px auto 0 auto;
  .searchButton {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: flex-end;
    width: 45px;
    height: 45px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 50%;
    background: $white;
    cursor: pointer;
    box-shadow: 0px 4px 24px -10px $boxShadowColor;
    backdrop-filter: blur(40px);
    transition: 0.1s ease-in-out;
    &:hover {
      transform: scale(1.04);
    }
    img {
      height: 90%;
      margin: 1px 0 0 2px;
    }
  }

  .controlButton {
    align-self: flex-end;
    margin-left: 20px;
    height: 45px;
    padding: 10px 20px;
    border-radius: 50px;
    background: $white;
    box-shadow: 0px 4px 24px -10px $boxShadowColor;
    backdrop-filter: blur(40px);
    font-size: 16px;
    font-family: $regularFont;
    font-weight: 500;
    color: $orangeDark;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0;
    img {
      margin-right: 7px;
    }
    &:hover {
      transform: scale(1.04);
    }
  }

  .addRecipeButton {
    img {
      height: 14px;
      transform: translate(0, 1px);
    }
  }
  .bookmarksButton {
    img {
      height: 16px;
      transform: translate(0, 3px);
    }
  }
}
