.head {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
  background: linear-gradient(
    to top,
    rgba(255, 179, 0, 0),
    rgba(255, 179, 0, 0.164)
  );

  .head_text {
    display: none;
    text-align: center;
    color: rgb(56, 56, 56);
    line-height: 650%;
    margin-top: 50px;
    h1 {
      font-size: 70px;
      font-family: $headingFont;
    }
    h2 {
      font-family: $headingSecondFont;
      font-weight: 200;
      font-size: 44px;
      margin-top: 30px;
    }
  }
}
