.recipeDescription {
  position: relative;
  width: 90%;
  height: auto;
  margin: 50px auto;
  background-color: $white;
  box-shadow: 0px 1px 10px $boxShadowColor;

  .recipeTitleContainer {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "p p bookmark";
    align-items: center;
    width: 100%;
    height: 80px;
    background: linear-gradient(
      90deg,
      #0038ff -0.85%,
      rgba(112, 0, 255, 0.97) -0.85%,
      rgba(104, 62, 255, 0.955208) 18.58%,
      rgba(91, 167, 255, 0.23) 100%
    );
    box-shadow: 0px 1px 10px $boxShadowColor;

    p {
      grid-area: p;
      margin-left: 50px;
      text-transform: uppercase;
      font-size: 24px;
      letter-spacing: 2px;
      font-family: $description-estralight-font;
      color: $white;
      width: 600px;
      height: 35px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .bookmarkContainer {
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: end;
      margin-right: 20px;
      grid-area: bookmark;

      .bookmark {
        height: 30px;
        width: 30px;
        background-image: url("../src/img/bookmark_unsigned.svg");
        background-position: center;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }
      p {
        font-size: 12px;
        width: 100px;
        margin-right: 10px;
        line-height: 35px;
        font-family: $regular-font;
        text-align: right;
      }
    }
  }
  .additionalRecipeInfo {
    display: grid;
    grid-template-columns: 1.5fr 1.9fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "container container";
    align-items: center;
    width: 100%;
    height: 50px;

    background: linear-gradient(
      90deg,
      #3b61e9 -0.85%,
      rgba(112, 0, 255, 0.97) -0.85%,
      rgba(59, 170, 233, 0.38) 100%
    );
    box-shadow: 0px 1px 10px $boxShadowColor;

    .additionalInfoContainer {
      grid-area: container;
      margin-left: 50px;
      display: flex;
      align-items: center;
      .peopleIcon {
        margin-right: 5px;
      }
      img {
        height: 30px;
      }
      p {
        font-size: 18px;
        color: white;
        font-family: $regular-font;
      }
      .servingsQuantity {
        font-size: 20px;
      }
      .arrowQuantity {
        height: 12px;
        margin: 8px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
      }
      .personsWord {
        margin-left: 5px;
        font-size: 16px;
      }
      .timeIcon {
        height: 26px;
        margin-left: 80px;
        margin-right: 10px;
      }
      .minWord {
        margin-left: 5px;
        font-size: 16px;
      }
    }
  }
  .recipeTextBox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    gap: 0px 0px;
    grid-template-areas: "recipeImg" "recipeText";
    font-family: $regular-font;
    .recipeDescriptionImage {
      // align-self: center;
      // justify-self: center;
      grid-area: recipeImg;
      display: block;
      height: 100%;
      width: 100%;
      // background-image: url("../src/img/example.jpeg");

      object-fit: cover;
    }
    .recipeText {
      grid-area: recipeText;
      display: flex;
      flex-direction: row;
      .ingradientsTitle,
      .howToCookIt {
        width: 100%;
        font-size: 22px;
      }
      .ingradients {
        font-size: 16px;
        width: 100%;
        padding-left: 40px;
        padding-bottom: 30px;
        p {
          margin: 15px 0;
          span {
            color: $purpleLight;
          }
        }
        .ingradientsTitle {
          margin: 35px 0;
          margin-bottom: 15px;
        }
      }
      .linkBox {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
        padding-right: 40px;
        padding-bottom: 30px;
        background-color: rgb(251, 251, 251);

        .howToCookIt {
          margin-top: 35px;
          margin-bottom: 15px;
          text-align: right;
        }
        .recipeCopyright {
          width: 90%;
          margin: 15px 0;
          text-align: right;
        }

        .linkButton {
          text-decoration: none;
          width: 150px;
          height: 40px;
          margin-top: 20px;

          div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 40px;
            border-radius: 50px;
            background: linear-gradient(
              90deg,
              #4987fd 0%,
              rgba(66, 0, 255, 0.65) 100%
            );
            opacity: 0.5;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(10px);
            cursor: pointer;

            color: white;
            transition: 0.3s ease-in-out;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
