$primary: #3e57e6;
$secondary: #6513b1;
$searchFieldColor: rgb(37, 37, 37);
$gray: #555555;

.controlsContainer {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  font-family: $regular-font;
  align-content: flex-end;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 30%;
}

.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.form__field {
  font-family: $regular-font;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $searchFieldColor;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    // font-weight: 500;
  }
  padding-bottom: 6px;
  //   font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
