.controlsContainer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  margin-top: 40px;
  font-family: $regularFont;
}
.form__group {
  position: relative;
  width: 43%;
  padding: 15px 0 0;
  .form__field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }

  .form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $black;
    padding: 7px 0;
    outline: 0;
    background: transparent;
    font-family: $regularFont;
    font-size: 1.3rem;
    color: $black;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      top: 20px;
      font-size: 1.3rem;
      cursor: text;
    }
  }
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $black;
  }
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $orangeDark;
  }
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to left, $mainOrangeLight, $orangeDark);
  border-image-slice: 1;
}
